body{
    font-family: Arial, Helvetica;
    font-family:serif;
    background: white;
    padding-top: 120px;
    font-size: 1.2rem;
    margin: 0%;
    }
    h1{
        width: 100%;
     height:125px;
     background:darkcyan ;
    text-align: center;
    position: fixed;
    top: -3%;
    overflow:hidden;
    transition: all 0.5s ease;
    color: white;
    line-height:150px;
    margin: 0%;
    
    }
    .menu{
     list-style: none;
    padding: 0;
    background: #092327;
    width: 100%;
    max-width: 10000px;
    margin: auto;
    display: inline-block;
    position: fixed;
    top: 16%;
    font-size: 16px;

    }
    .menu li a{
        text-decoration: none;
        color: white;
        padding: 20px;
        display: block;
    }
    .menu li{
        display: inline-block;
        text-align: center;
    }
    .container{

        width: 85%;
       max-width: 850px;
       margin: 0 auto;
       }
    main{
        padding-top:5rem;
    }

    /*pie de pagina*/
footer{
   
    background: #000;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
    font-family: arial;
    font-size: 18px;
    
}
.texto{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}
.txt{

    padding-top:5rem;

}
.main-container{
    font-family: arial;
    margin: 40px auto;
    width: 1000px;

}
table{
    
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}
th, td{
     padding: 20px;
     text-align:left;
}
thead{
    background-color:darkcyan;
 
    color: white;
}
